* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* Styling the header */
nav {
  background-color: #054c73;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding-inline: 150px;
  padding-top: 30px;
  padding-bottom: 30px;
  position: fixed;
  width: 100%;
  z-index: 10;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 70px;
}
nav ul li {
  cursor: pointer;
}
nav ul li a {
  color: white;
  text-decoration: none;
}

nav h1 {
  font-size: 2rem;
}
@media (max-width: 1000px) {
  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
  }
  nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 15px;
    margin-top: 10px;
  }
  nav h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
  }
  nav ul {
    display: flex;
    list-style: none;
    gap: 10px;
    font-size: 11px;
    margin-top: 10px;
  }
  nav h1 {
    font-size: 1.3rem;
    font-weight: bolder;
  }
}
/* Ends here */
/* Styling the home */
.home {
  background-image: url(./assets/Mask\ Group.jpg);
  height: 750px;
}
.home_top {
  background-color: #dfe9f4;
  width: 640px;
  height: 443px;
  float: right;
  margin-right: 150px;
  margin-top: 150px;
  border-radius: 20px;
  padding-left: 50px;
  padding-top: 50px;
}
.home div h1 {
  font-size: 3rem;
  color: #054c73;
  margin-bottom: 30px;
  margin-top: 10px;
}
.home div .lorem {
  font-size: 1.2rem;
  margin-bottom: 30px;
}
.home div button {
  background-color: #054c73;
  color: white;
  padding: 20px 50px;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bolder;
}
.home_bottom {
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #dfe9f4;
}

@media (max-width: 1000px) {
  .home_bottom {
    width: 100%;
    display: flex;
  }
  .home_bottom img {
    width: 150px;
  }
  .home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 20px;
  }
  .home_top {
    margin: 0 auto;
  }
  .home div h1 {
    font-size: 2.5rem;
  }
  .home div .lorem {
    font-size: 1.1rem;
  }
  .home div button {
    padding: 15px 30px;
    font-size: 1rem;
    margin-top: 10px;
  }
}
@media (max-width: 500px) {
  .home_bottom img {
    width: 110px;
  }
  .home_top {
    padding-inline: 20px;
  }
  .home div h1 {
    font-size: 2rem;
  }
  .home div .lorem {
    font-size: 1rem;
  }
  .home div button {
    margin-top: 30px;
  }
}
/* Ends here */
/* Styling the services */
.services {
  text-align: center;
  margin-top: 70px;
}
.services h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.services p {
  color: #666666;
  font-size: 1.2rem;
  letter-spacing: 2px;
}
.services div {
  display: flex;
  gap: 60px;
  justify-content: center;
  margin-top: 70px;
}
.img2 {
  position: relative;
  bottom: 25px;
}
@media (max-width: 1000px) {
  .services {
    padding-inline: 20px;
  }
  .services div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .services div img {
    width: 300px;
  }
  .img2 {
    position: relative;
    bottom: 0;
  }
  .services h1 {
    font-size: 1.5rem;
  }
  .services p {
    font-size: 1.2rem;
    letter-spacing: 0;
  }
}
/* ends here */
/* styling the products */
.products {
  text-align: center;
  margin-top: 70px;
  background-color: #dfe9f4;
  height: 600px;
  padding-top: 10px;
}
.products h1 {
  font-size: 2rem;
  margin-top: 20px;
}
.products p {
  color: #666666;
  font-size: 1.2rem;
  letter-spacing: 2px;
}
.products h5 {
  color: black;
  font-weight: bolder;
}

.bootstrap {
  width: 350px;
  margin: 0 auto;
}
.products .lorem {
  margin-bottom: 50px;
}
@media (max-width: 1000px) {
  .products {
    height: 100%;
    padding-bottom: 20px;
    padding-inline: 20px;
  }
  .products h1 {
    font-size: 1.5rem;
  }
  .products p {
    font-size: 1.2rem;
    letter-spacing: 0;
  }
}
/* ends here */
/* styling the gallery */
.gallery {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
}
.gallery_bottom {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  align-items: center;
  gap: 50px;
}
.gallery p {
  color: #666666;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

@media (max-width: 1000px) {
  .gallery {
    width: 100%;
    padding-inline: 20px;
  }
  .gallery_bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .gallery_bottom div {
    width: 200px;
  }
  .gallery_bottom img {
    width: 100%;
  }
  .gallery p {
    font-size: 1rem;
    letter-spacing: 0;
  }
  .gallery_bottom h2 {
    font-size: 1.5rem;
  }
}
/* ends here */
/* styling the contact section */
.contact {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #dfe9f4;
}
.contact_input {
  display: flex;
  gap: 0;
  justify-content: center;
}
.contact_input input {
  padding: 15px;
  width: 300px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.contact_input textarea {
  color: #666666;
}

.contact_input button {
  background-color: #054c73;
  color: white;
  padding: 15px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.contact p {
  color: #666666;
  font-size: 1.1rem;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
@media (max-width: 1000px) {
  .contact {
    padding-inline: 20px;
  }
  .contact p {
    color: #666666;
    font-size: 0.8rem;
    letter-spacing: 0px;
  }
  .contact h1 {
    font-weight: bolder;
    color: #054c73;
    font-size: 1.8rem;
  }
  .contact_input input {
    padding: 10px;
    width: 200px;
  }
  .contact_input button {
    padding: 10px;
  }
}
/* ends here */
/* styling the footer */
footer {
  background-color: #054c73;
  color: white;
  padding-top: 50px;
  padding-bottom: 5px;
}
.footer {
  display: flex;
  justify-content: space-around;
}
.footer_left .lorem {
  color: #aaa7b1;
}
.footer_left h1 {
  font-weight: bolder;
}
.footer_right {
  display: flex;
  gap: 150px;
}
.footer_right li {
  list-style: none;
  color: #aaa7b1;
  padding-bottom: 10px;
}
.footer_right h3 {
  padding-bottom: 20px;
}
.connect i {
  color: #aaa7b1;
  font-size: 25px;
  padding-right: 10px;
  cursor: pointer;
}
.connect p {
  font-size: 1.7rem;
  font-weight: bolder;
}
.footer_bottom {
  text-align: center;
  color: #aaa7b1;
}
hr {
  border: 1px solid white;
}
@media (max-width: 1000px) {
  .footer {
    padding-inline: 20px;
    width: 100%;
    display: flex;
    gap: 20px;
  }
  .footer_right {
    display: flex;
    gap: 10px;
  }
  .footer_right li {
    list-style: none;
    color: #aaa7b1;
    padding-bottom: 5px;
    font-size: 0.8rem;
  }
  .footer_right h3 {
    padding-bottom: 10px;
    font-size: 1rem;
    text-align: center;
    font-weight: bolder;
  }
  .footer_left h1 {
    font-size: 1.5rem;
  }
  .footer_left .lorem {
    font-size: 0.8rem;
  }
  .connect i {
    font-size: 1rem;
    padding-right: 10px;
    cursor: pointer;
  }
  .connect p {
    font-size: 1.3rem;
    font-weight: bolder;
    margin-bottom: 0;
  }
  .footer_bottom {
    font-size: 0.8rem;
  }
}

@media (max-width: 500px) {
  .footer {
    padding-inline: 20px;
    width: 100%;
    display: flex;
    gap: 20px;
  }
  .footer_right {
    display: flex;
    gap: 10px;
  }
  .footer_right li {
    list-style: none;
    color: #aaa7b1;
    padding-bottom: 5px;
    font-size: 0.5rem;
  }
  .footer_right h3 {
    padding-bottom: 10px;
    font-size: 0.6rem;
    text-align: center;
    font-weight: bolder;
  }
  .footer_left h1 {
    font-size: 1.2rem;
  }
  .footer_left .lorem {
    font-size: 0.5rem;
  }
  .connect i {
    font-size: 0.7rem;
    padding-right: 10px;
    cursor: pointer;
  }
  .connect p {
    font-size: 1rem;
    font-weight: bolder;
    margin-bottom: 0;
  }
  .footer_bottom {
    font-size: 0.5rem;
  }
}
